/* css/style.css */
:root {
  --color-primary: #6E6286;
  --color-primary-hover: #7A6FA0;
  --color-primary-active: #5A5270;

  --color-secondary: #A998C2;
  --color-secondary-hover: #bbaed0;
  --color-secondary-active: #9985b0;
  --color-accent: #F6D8E6;

  --color-success: #D6EAD6;
  --color-success-hover: #030503;
  --color-success-active: #adcfae;

  --color-danger: #9A2B24;
  --color-danger-hover: #871f18;
  --color-danger-active: #75140d;

  --color-hyperlink: #4F4963;
  --color-hyperlink-hover: var(--color-primary);
  --color-bg: #fef6fb;
  --color-menu-bg: #E6E0F2;
  --color-notification: #9A2B24;
  --color-button-border: var(--color-menu-bg);
  --color-navbar-bg-desktop: #EADDFF;
  --color-navbar-actions-hover: var(--color-secondary);
  --color-navbar-bg-mobile: var(--color-secondary);
}

html {
  font-size: 16px; /* Default Desktop */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Default Mobile */
  }
}


body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: #333;
}

header {
  margin: 0;
  font-family: "Playfair Display";
}

.btn, 
.badge {
  /* Use sans-serif Inter for functional UI elements */
  font-family: 'Inter', sans-serif;
}

.container {
  margin: 1.2rem 1.2rem;
}

.btn {
  display: inline-flex; /* Dynamic adjust layout in the button */
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.625rem 1.5rem;
  border-radius: 6.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 200ms ease,
              box-shadow 200ms ease,
              transform 100ms ease,
              color 200ms ease;
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
  margin: 0;

  cursor: pointer;
  transition:
    background-color 200ms ease,
    transform 100ms ease,
    filter 200ms ease;
  text-decoration: none;   /* no underline for a tags */
  color: inherit;          /* inherit SVG currentColor, etc. */
}

.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
  border: 1.5px solid var(--color-button-border);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-primary:active {
  background-color: var(--color-primary-active);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transform: scale(0.98);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: #fff;
  border: 1.5px solid var(--color-button-border);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-hover);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-secondary:active {
  background-color: var(--color-secondary-active);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transform: scale(0.98);
}

.btn-danger {
  background-color: var(--color-danger);
  color: #fff;
  border: 1.5px solid var(--color-button-border);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-danger:hover {
  background-color: var(--color-danger-hover);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-danger:active {
  background-color: var(--color-danger-active);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transform: scale(0.98);
}


.navbar {
  position: sticky; /* stick navbar to support Infinite Scroll */
  top: 0; /* keep stick at the top */
  z-index: 100; /* Always at the top layer */
  background-color: var(--color-navbar-bg-desktop);
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
  display: grid; /* Grid layout used to balance logo (left), nav links (center), and actions (right) */
  grid-template-columns: auto 1fr auto;
  padding: 8px 16px;
  height: 66px;
  align-items: center;
  transition: background-color 0.3s ease; /* navbar transition from desktop to mobile */
}

.navbar .logo {
  height: 100%;
  width: auto;
  justify-self: start;
  align-self: center;
  display: flex;
  align-items: center; /* ensure logo is relatively at vertical centre */
}

.navbar .logo img {
  display: block;
  max-height: 43px;
  width: auto;
  height: auto;
}

.navbar nav {
  justify-self: center;
  align-self: center;
}

.navbar .nav-links ul {
  font-family: "Playfair Display";
  list-style: none;
  display: flex;
  font-size: 1.375rem;
  font-weight: 500;
  gap: 1.5rem;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: inherit; /* prevent to use default colour for hyperlink */
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
}

.navbar .nav-actions {
  justify-self: end;
  align-self: center;
}

.navbar .nav-actions a {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.navbar .nav-actions a .badge {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 4px;
  right: 4px;
  min-width: 18px;
  height: 18px;
  background-color: var(--color-notification);
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%; /* make it round */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-actions a img {
  width: 32px;
  height: 32px;
}

.navbar .nav-actions a:hover {
  background-color: var(--color-navbar-actions-hover);
}

.hamburger {
  display: none;               /* Only display on mobile or small screens */
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.hamburger img {
  display: block;
  transition: transform 200ms ease, filter 200ms ease;
}

@media (max-width: 1024px) {
  .navbar {
    background-color: var(--color-navbar-bg-mobile);
  }

  .navbar .nav-links,
  .navbar .nav-actions {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

.hero {
  position: relative;
  background-image: url('../assets/images/hero-bg.png');
  padding: 6vw 4vw;
  border-radius: 2vw;
  text-align: center;
}

.hero-logo {
  width: clamp(120px, 30vw, 300px);
  height: auto;
  margin-bottom: 2vw;
}

.hero-logo,
.hero p {
  padding-inline: clamp(60px, 14vw, 90px);   /* padding between text and arrow buttons */
}

.hero-arrow-left {
  position: absolute;       /* relatively to .hero */
  left: 20px;
  top: 50%;                 /* 50% of top */
  transform: translateY(-50%); /* then move up 50% of its image */
  width:  clamp(24px, 10vw, 36px);
  height: clamp(24px, 10vw, 36px);
  border: none;
  border-radius: 50%;
  padding: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 200ms ease, transform 100ms ease;
}

.hero-arrow-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width:  clamp(24px, 10vw, 36px);
  height: clamp(24px, 10vw, 36px);
  border: none;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 200ms ease, transform 100ms ease;
}

.hero-arrow-left:hover,
.hero-arrow-right:hover {
  background-color: var(--color-primary-hover);
}

section h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
}

.featured .featured-list {
  display: grid;
  /* Use auto-fit + minmax to allow grid to wrap items dynamically and keep items centered */
  grid-template-columns: repeat(auto-fit, minmax(12rem, max-content));
  justify-content: center;
  row-gap: 2rem;
  column-gap: 4rem;
}


.product {
  /* Fixed width ensures consistent product card sizing across flexible grid layout */
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-image {
  width: 12rem;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

.product-info {
  max-width: 14rem;
  width: 100%;
  text-align: center;
}

.product-info a {
  color: var(--color-hyperlink);
}

.product-info a:hover {
  color: var(--color-hyperlink-hover);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .featured .featured-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 1rem;
    padding: 0 0.5rem;
  }

  .featured .product {
    flex: 1 1 45%;
    box-sizing: border-box;
  }

  .product-image {
    width: 8rem;
    height: auto;
  }

  .product-info {
    max-width: 12rem;
    width: 100%;
  }
}

.collections .collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  margin: 1rem auto;
}

.collections .collection-grid img {
  max-width: 12rem;
  height: auto;
}

@media (max-width: 768px) {
  .collections .collection-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; 
  }
}

footer {
  text-align: left;
  background-color: var(--color-navbar-bg-desktop);
  padding: 1rem;
  margin-top: 2rem;
  transition: background-color 0.3s ease; /* same as navbar */
}

@media (max-width: 1024px) {
  footer {
    background-color: var(--color-navbar-bg-mobile);
  }
}

.old-price {
  text-decoration: line-through;
}

.new-price {
  color: #a44;
}

.mobile-nav {
  display: none; /* not show on destop version */
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  height: 58px;
  background: white;
  box-shadow: 0 -2px 6px rgba(0,0,0,.12);
  align-items: center;
  justify-content: space-evenly;
  z-index: 95;
}

.mobile-nav a{
  position: relative;
  flex: 1;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s ease;
}

.mobile-nav a:hover{
  background: var(--color-navbar-actions-hover);
}

.mobile-nav img{
  width: 32px;
  height: 32px;
}

.mobile-nav a .badge{
  position:absolute;
  top: 4px;
  right: calc(50% - 16px);
  transform: translateX(50%);
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  background: var(--color-notification);
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease, transform 100ms ease;
}

@media (max-width: 1024px){
  body {
    padding-bottom: 58px; /* add padding for mobile version to fully show the footer */
  }

  .mobile-nav {
      display: flex;
  }
}