/* css/style.css */
:root {
  --color-primary: #6E6286;
  --color-primary-hover: #7A6FA0;
  --color-primary-active: #5A5270;

  --color-secondary: #A998C2;
  --color-accent: #F6D8E6;

  --color-text: #333333;
  --color-bg: #fef6fb;
  --color-navbar-bg: #EADDFF;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: #333;
}

header {
  margin: 0;
  font-family: "Playfair Display";
}

.container {
  margin: 1.2rem 1.2rem;
}

.btn-primary {
  display: inline-flex; /* Dynamic adjust layout in the button */
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 24px;
  border: 1.5px solid #E6E0F2;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-weight: 600;
  cursor: pointer;
  /** transaction animation */
  transition: background-color 200ms ease, 
            box-shadow 200ms ease, 
            transform 100ms ease, 
            color 200ms ease;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-primary:active {
  background-color: var(--color-primary-active);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transform: scale(0.98);
}

.navbar {
  position: sticky; /* stick navbar to support Infinite Scroll */
  top: 0; /* keep stick at the top */
  background-color: var(--color-navbar-bg);
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0.5rem 2rem;
  height: 4.5rem;
  align-items: center;
}

.navbar .logo {
  justify-self: start;
  align-self: center;
  display: flex;
  align-items: center; /* ensure logo is relatively at vertical centre */
}

.navbar .logo img {
  display: block;
  height: 100%;
}

.navbar nav {
  justify-self: center;
  align-self: center;
}

.navbar .icons {
  justify-self: end;
  align-self: center;
}

.navbar ul {
  font-family: "Playfair Display";
  list-style: none;
  display: flex;
  font-size: 22px;
  font-weight: 500;
  gap: 1.5rem;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: inherit; /* prevent to use default blue colour for hyperlink */
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
}

.hero {
  background-image: url('../assets/images/hero-bg.png');
  padding: 6rem 2rem;
  border-radius: 1rem;
  text-align: center;
}

section h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Title-Large-Line-Height, 28px); /* 127.273% */
  letter-spacing: var(--Title-Large-Tracking, 0px);
}

.featured .featured-list {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 1rem;
}

.product {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-image {
  max-width: 158px;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

.collections .collection-grid {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem auto;
}

footer {
  text-align: left;
  background-color: var(--color-navbar-bg);
  padding: 1rem;
  margin-top: 2rem;
}

.old-price {
  text-decoration: line-through;
}

.new-price {
  color: #a44;
}