/* css/style.css */

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background-color: #fef6fb;
  color: #333;
}

header {
    margin: 0;
    font-family: "Playfair Display";
}

.container {
  margin: 1.2rem 1.2rem;
}

.navbar {
  position: sticky; /* stick navbar to support Infinite Scroll */
  top: 0; /* keep stick at the top */
  background-color: #EADDFF;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  height: 4rem;
  align-items: center;
}

.navbar ul {
  font-family: "Playfair Display";
  list-style: none;
  display: flex;
  font-size: var(--Title-Large-Size, 22px);
  font-weight: 500;
  gap: 1.5rem;
}

.hero {
  background-color: #e6dcf3;
  background-image: url('../assets/images/hero-bg.png');
  padding: 6rem 2rem;
  border-radius: 1rem;
  text-align: center;
}

section h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Title-Large-Line-Height, 28px); /* 127.273% */
  letter-spacing: var(--Title-Large-Tracking, 0px);
}

.featured .featured-list {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 2rem;
}


.product img {
  max-width: 158px;
  height: auto;
  display: block;
  border-radius: 0.5rem;
  text-align: center;
}

.collections .collection-grid {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem auto;
}

footer {
  text-align: left;
  background-color: #d2c6e8;
  padding: 1rem;
  margin-top: 2rem;
}

.old-price {
  text-decoration: line-through;
}

.new-price {
  color: #a44;
}